---
---

<article class="qrcode-card">
	<div class="qrcode-card__image-wrapper">
		<svg class="qrcode-card__image-background" style="shape-rendering: geometricPrecision;" width="288" height="288" viewBox="0 0 288 288" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect class="qrcode-card__image-background-rectangle" width="288" height="288" rx="10" fill="#3685FF" />
			<mask id="mask0_0_1806" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="288" height="288">
				<rect width="288" height="288" rx="10" fill="white" />
			</mask>
			<g mask="url(#mask0_0_1806)">
				<circle class="qrcode-card__image-background-circle" cx="266.5" cy="339.5" r="135" fill="#2C7DFA" />
				<circle class="qrcode-card__image-background-circle" cx="32.5" cy="-0.5" r="164" fill="#2C7DFA" />
			</g>
		</svg>
		<img class="qrcode-card__image-qrcode" src="/images/qr-code.svg" alt="Qr code image" />
	</div>
	<h2 class="qrcode-card__title">Improve your front-end skills by building projects</h2>
	<p class="qrcode-card__text">Scan the QR code to visit Frontend Mentor and take your coding skills to the next level</p>
</article>

<style>
	.qrcode-card {
		border-radius: 2rem;
		box-shadow: 0 2.5rem 2.5rem 0 rgba(0, 0, 0, 0.05);
		background: var(--white);
		padding: 1.6rem 1.6rem 4rem 1.6rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 32rem;
	}

	.qrcode-card__image-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		border-radius: 1rem;
		overflow: hidden;
	}

	.qrcode-card__image-background {
		width: 28.8rem;
		height: 28.8rem;
		user-select: none;
		pointer-events: none;
	}

	.qrcode-card__image-background-rectangle {
		fill: #3685ff;

		@media (width >= 768px) {
			fill: #2c7dfa;
		}
	}

	.qrcode-card__image-background-circle {
		fill: #2c7dfa;

		@media (width >= 768px) {
			fill: #3685ff;
		}
	}

	.qrcode-card__image-qrcode {
		width: 16rem;
		height: 16rem;
		position: absolute;
		user-select: none;
		pointer-events: none;
	}

	.qrcode-card__title {
		font-family: var(--font-family), sans-serif;
		font-weight: 700;
		font-size: 2.2rem;
		text-align: center;
		color: var(--dark-navy);
		margin-top: 2.4rem;
		line-height: 124%;
	}

	.qrcode-card__text {
		font-family: var(--font-family), sans-serif;
		font-weight: 400;
		font-size: 1.5rem;
		letter-spacing: 0.01em;
		text-align: center;
		color: var(--grey);
		margin-top: 1.6rem;
		padding: 0 1.6rem;
		line-height: 126%;
	}
</style>
