---
import { MainLayout } from "@widgets/layouts";
import { QrCodeCard } from "@entities/code";
--- 

<MainLayout title="QR code component">
	<main class="main">
		<h1 class="visually-hidden">QR code component</h1>
		<QrCodeCard />
	</main>
</MainLayout>

<style>
	.main {
		background: var(--light-grey);
		min-width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
